@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.carousel-container {
	width: 100%;
	overflow: hidden;

	@media only screen and (max-width: 640px) {
		max-width: 300px;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.tyre-deal {
	.slick-list {
		margin: 0 -4px;
	}
}
